html, body {
	width: 100%;
	height: 100%;
}

body {
	font-size: small;
	font-family: "Open Sans", "sans-serif";
	margin: 0px;
}

#header {
	height: 50px;
	background: black;
	text-align: center;
}

#header img {
	height: 50px;	
}

.github_icon {
	position: absolute;
	top: 0px;
	right: 3px;
}

#map {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
}

.window {
	float: left;
	background: white;
	opacity: .9;
	padding: 3px;
	margin: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: #C4C4C4;
	box-shadow: 5px 5px 5px 0px black;
	visibility: hidden;
}

.window h1 {
	font-size: medium;
	margin-top: 0px;
}

#polar_window th {
	text-align: right;
}

table {
	color: grey;
}

#next_passes {
	display: block;
	height: 300px;
	overflow-y: scroll;
}

.selected {
	background: grey;
	color: white;
}

.clickable:hover {
	background: #d0d0d0;
}

#timeline_mask {
	position: fixed;
	overflow: hidden;
	top: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.75);
	text-align: center;
	padding-top: 50px;
}

#timeline {
	width: 80%;
}

div.leaflet-tooltip.monaco_tooltip {
        background: None;
        color: #ffffff;
}

